bb
bb.exe
env.edn
download
/bin
.project
**.pyc
venv_robot
**/*/__pycache__
/libspecs/
.project
.idea
.vscode
.history/
.lh/
*.iml
**/*.html
**/*.png
output.xml
.pydevproject
reports
report
.history/
.lh/
*.code-workspace
.pabotsuitenames
/pabot_results/
/screenshots/
robot/tests/.DS_Store
robot/.DS_Store
.DS_Store
geckodriver*.log
interactive_console_output.xml
playwright-log.txt
test.csv
*.webm
**/code-tests
**/video
**/video/*
**/_code-test
.clj-kondo/*
.lsp/*
bb
env.edn
.calva/*
allure-report/*
*.xlsx
